@use 'fonts';

$primary-color: #DA583F;
$secondary-color: #e68a00;
$accent-color: #6FC1B7;
$second-accent-color: #ab77a8;
$background-color: #FFFFF9;
$body-text-color: #414042;
$main-font-family: 'avenir-next', helvetica, serif;

$font-weight-regular: 100;
$font-weight-medium: 300;
$font-weight-bold: 700;

