@use "../abstracts" as a;
@use "../abstracts/variables" as v;


ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
}

#logo-white {
  width: 100px;
  height: 100%;
}

#dektop-menu {
  display: none;
}

#dektop-menu nav {
  margin-left: 20px;
}

#dektop-menu ul {
  display: flex;
}

#dektop-menu li {
  margin-left: 20px;
}

#dektop-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}

#dektop-menu a:hover {
  color: v.$primary-color;
}

#burger-icon {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

#burger-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}

#burger-icon span:nth-child(1) {
  top: 0;
}

#burger-icon span:nth-child(2) {
  top: 10px;
}

#burger-icon span:nth-child(3) {
  top: 20px;
}

#burger-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
  left: 0;
}

#burger-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
  left: 0;
}


.overlay {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: black;
    color: white;
    z-index: 1;
    overflow-y: auto; 
  }
  
  .overlay.open {
    display: block;
  }

.overlay ul {
  list-style-type: none;
  text-align: left;
  padding-left: 20px;
  line-height: 30px;
}

.overlay li {
  margin: 20px 0;
}

.overlay a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.overlay a:hover {
  color: v.$primary-color;
}




@media (min-width: 768px) {
    #burger-icon {
        display: none;
      }


      .overlay {
        display: none; 
      }


  #nav-icon4 {
    display: none;
  }

  #dektop-menu {
    display: flex;
    align-items: center;
  }

}
