@use '../abstracts/variables' as v;

#hero-wrapper {
  display: flex;
  flex-direction: column;  // Default to column for mobile views
  align-items: center;
  justify-content: center;
  padding: 80px 20px;

  #hero-title {
    text-align: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    
    img {
      width: 120px; // Adjust logo size
      height: auto;
      margin-bottom: 20px; // Space between logo and title
    }

    h2 {
      font-size: 48px;
      font-weight: bold;
      color: v.$body-text-color;
      margin: 0;
    }

    p {
      font-size: 18px;
      color: v.$body-text-color;
      margin-top: 10px;
    }
  }

  #hero-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    max-width: 600px;
    margin-left: 80px;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #hero-title {
      max-width: 50%;
      text-align: left;
      margin-left: 50px;
      align-items: flex-start;
      line-height: 50px;

      img {
        margin-bottom: 15px; // Adjust space for larger screens
        width: 100px; // Slightly smaller logo on larger screens
      }
    }

    #hero-image {
      max-width: 85%; 
      min-width: 70%;
      margin-left: 30px;  // Adjusted margin for a larger image
    }
  }

  @media (min-width: 1200px) {
    flex-direction: row;  
    justify-content: flex-start;
    align-items: center;

    #hero-title {
      max-width: 50%;
      text-align: left;
      margin-left: 100px;
      align-items: flex-start;
      line-height: 50px;

      img {
        margin-bottom: 20px; // Maintain space between logo and title
        width: 120px; // Keep logo size consistent for large screens
      }
    }

    #hero-image {
      max-width: 75%; 
      margin-left: 50px;  // Adjust margin for larger screens
    }
  }
}
